<div *ngIf="selected">
  <app-anime-detail [animeDetail]="selectedAnime"></app-anime-detail>
 </div>
 
 <hr />
 
 <div class="container-fluid">
  
  <div class="row">
    
    <div *ngFor="let anime of animes" class="col mb-2">
      <div class="col-6">
      
      <div class="card p-2" style="width: 15rem; height: 33rem">
        <div class="col-6"></div>
        <img
          class="card-img-top"
          src="{{ anime.img }}"
          alt="{{ anime.name }}"
          (click)="onSelected(anime)"
        />
        <div class="card-body">
          <h5 class="card-title">{{ anime.name }}</h5>
          <p class="card-text">{{anime.categorie}}</p>
          <p class="card-text">{{anime.rating}}</p>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>